.editLabelContainer {
    border-radius: 1px;
    width: 300px;
    border: none;
}

.editLabelActionDiv {
    padding: 15px;
}

.editLabelHeader {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 25px;
}

.createLabel, .labelName {
    display: flex;
    align-items: center;
    height: 45px;
}

.closeButton, .doneButton, .deleteButton, .editButton, .editDoneButton, .addButton, .labelButton {
    font-size: 24px;
    opacity: .54;
    display: inline-block;
}

.createLabelField, .editLabelField {
    width: 100%;
    height: 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 15px;
    outline: none;
    box-shadow: none;
    color: #3c4043;
    border: none;

}

.createLabelField:focus, .editLabelField:focus {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.labelName:hover .labelButton {
    display: none;
}

.labelName:hover .deleteButton {
    display: inline-block;
}

.displayLabelDiv { 
    max-height: 280px;
    overflow-y: auto;
}

.deleteButton {
    display: none;
}

.editLabelFooter {
    border-top: 1px solid #dadce0;
    padding: 15px 10px;
    text-align: right;
    color: rgba(0,0,0,0.87);
}

