<div class="editLabelContainer">
  <div class="editLabelActionDiv">
    <div mat-dialog-title class="editLabelHeader">
      Edit labels
    </div>
    <div class="createLabel" >
      <button mat-icon-button class="closeButton" *ngIf="hideCloseButton" (click)="onCloseLabelClick()" tabindex="-1">
        <i class="material-icons-outlined">close</i>
      </button>
      <button mat-icon-button class="addButton" *ngIf="hideAddButton" (click)="onAddLabelClick()" tabindex="-1">
        <i class="material-icons-outlined">add</i>
      </button>
      <input type="text" class="createLabelField" (click)="createNewLabel()" #labelName [(ngModel)]="newLabel" placeholder="Create new label" aria-label="Create new label" >
      <button mat-icon-button class="doneButton" *ngIf="editLabelClick" (click)="oncreateLabelClick()">
        <i class="material-icons-outlined">done</i>
      </button>
    </div>
    <div class="displayLabelDiv">
    <div class="labelName" *ngFor="let label of labels" >
      <button mat-icon-button class="labelButton">
        <i class="material-icons-outlined">label</i>
      </button>
      <button mat-icon-button (click)="ondeleteLabelClick(label.labelId)" class="deleteButton">
        <i class="material-icons-outlined">delete</i>
      </button>
      <input type="text" class="editLabelField" (click)="editLabelClicked(label.labelId)" [(ngModel)]="label.name" placeholder="Create new label" aria-label="Create new label">
      <button mat-icon-button *ngIf="(checkLabelId == label.labelId) ? false : true" class="editButton">
        <i class="material-icons-outlined">edit</i>
      </button>
      <button mat-icon-button *ngIf="(checkLabelId == label.labelId) ? true : false" (click)="submitEditLabel(label.labelId, label.name)" class="editDoneButton">
        <i class="material-icons-outlined">done</i>
      </button>
    </div>
    </div>    
  </div>
  <div class="editLabelFooter">
    <button mat-button (click)="doneAddingLabel()">Done</button>
  </div>
</div>