<div class="forgetPasswordContainer" fxLayoutAlign="center center">
  <div class="forgetPasswordCard">
    <div class="domainName">
      <span class="F_Class">F</span>
      <span class="U_Class">u</span>
      <span class="N_Class">n</span>
      <span class="D_Class">d</span>
      <span class="O_Class">o</span>
      <span class="O2_Class">o</span>
    </div>
    <h1 id="headingText">
      <span>Account recovery</span>
    </h1>
    <div class="forgetPasswordContent">
      <div class="forgetPasswordContentSubText">
        Enter your Email-Id, So that we can send you a Reset Password Link
      </div>
    </div>
    <div class="forgetPasswordInputField">
      <form [formGroup]="forgetPasswordInformation" (ngSubmit)="forgetPassword(forgetPasswordInformation.value)" onvalidate>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="hasError('email', 'required')">
            <i class="material-icons-outlined">error</i>
            Email is required.
          </mat-error>
          <mat-error *ngIf="hasError('email', 'email')">
            <i class="material-icons-outlined">error</i>
            Choose a Fundoo address
          </mat-error>
        </mat-form-field>
        <div class="forgetPasswordButton" fxLayoutAlign="end center">
          <button mat-flat-button type="submit">Forget Password</button>
        </div>
      </form>
    </div>
  </div>
</div>