<div class="createNoteContainer" [style.border]="note.color" [style.background]="note.color" >
  <div class="noteDialogDiv" fxLayout="column">
    <div class="pinUnpinNote"  fxLayoutAlign="center center" *ngIf="(parentIcon == 'delete') ? false : true">
      <img *ngIf="!note.isPin" class="pinUnpin" src="../../../assets/unpin.svg"
      (click)="userPinnedTheNote(note.noteId, true)" alt="pin Notes">

      <img *ngIf="note.isPin" class="pinUnpin" src="../../../assets/pin.svg"
       (click)="userPinnedTheNote(note.noteId, false)" alt="Unpin Notes">
    </div>
    <div class="notesImageDiv" *ngIf="(note.image == '' || note.image == null) ? false : true">
      <img class="notesImage" [src]="note.image" alt="note Image">
    </div>
    <div class="createTitleDiv" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <textarea class="titleField" [style.background]="note.color" tabindex="-1" [readonly]="readonlyFlag"
        cdkTextareaAutosize [(ngModel)]="createNoteTitle" cdkAutosizeMinRows="1" placeholder="Title">
      </textarea>
    </div>
    <div class="takeANoteDiv">
      <textarea class="descriptionField" [style.background]="note.color" tabindex="-1" [readonly]="readonlyFlag"
        [(ngModel)]="createNoteDesciption" cdkTextareaAutosize cdkAutosizeMinRows="1" placeholder="Take a note...">
      </textarea>
    </div>
    <div fxLayout="row wrap">
      <div fxLayoutAlign="center center" *ngIf="(note.reminder == null || note.reminder == '') ? false : true">
        <mat-chip-list aria-label="Note Reminder">
          <mat-chip fxLayout="row" tabindex="-1"  fxLayoutAlign="center center">
            {{ note.reminder | reminder }}
            <i class="material-icons-outlined labelcancel" title="Remove Reminder"
              (click)="removeReminderFromNote()">cancel</i>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div fxLayoutAlign="center center" *ngIf="(note.labels == null || note.labels.length <= 0) ? false : true">
        <mat-chip-list aria-label="Note Label">
          <mat-chip fxLayout="row" *ngFor="let label of note.labels" fxLayoutAlign="center center">
            {{ label.name }}
            <i class="material-icons-outlined labelcancel" title="Remove Label"
              (click)="removeLabelForDisplayNote(label.labelId)">cancel</i>
          </mat-chip>
        </mat-chip-list>
      </div>
    <div class="labelAndCollaboratorList" fxLayout="row" fxLayout="center center" fxLayoutGap="5px">
      <div class="collaborator" *ngFor="let collaborator of note.collaborators">
        <div class="collaboratorButton" fxLayoutAlign="center center">
          <button mat-fab class="collaboratorUserIcon" [title]="collaborator.emailId"
            color="warn">{{ collaborator.firstName[0]+collaborator.lastName[0] }}</button>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="NoteActionContainer" fxLayoutAlign="space-between center">
    <app-noteicon class="hideIcon" [accessFrom]="AccessingFrom" (UpdateNoteInEditNote)="updateNoteInEditNote($event)"
      (UpdateArchiveInEditNote)="updateArchive($event)" (sendParentRefresh)="recieveDataFromIconChild($event)" [grandParentNote]="note"
      [grandParentIcon]="parentIcon"></app-noteicon>
    <div class="closeButton">
      <button mat-button type="button" tabindex="-1" (click)="closeButtonClick()">Close</button>
    </div>
  </div>

</div>