<div class="dashboardContainer">
  <mat-toolbar class="headerToolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" class="leftSideBoard" fxLayout="center center">
      <button mat-icon-button (click)="snav.toggle()">
        <i class="material-icons-outlined">menu</i>
      </button>
      <div class="title" fxLayoutAlign="center center">
        <img fxHide.xs class="notesImg" src="../../../assets/keep_48dp.png" alt="Notes">
        <span class="subTitleContent">{{ title }}</span>
      </div>
    </div>

    <div class="centerSideBoard" fxLayout="row" fxFlex>
      <div class="searchDiv" fxLayout="row">
        <form class="searchForm" fxLayout="row" fxLayoutAlign="center center">
          <button mat-icon-button (click)="showSearchField()" class="searchButton">
            <i class="material-icons-outlined">search</i>
          </button>
            <mat-form-field  class="searchInputField" appearance="none">
              <input type="text" placeholder="Search" aria-label="Search" matInput>
            </mat-form-field>
            <button mat-icon-button class="closeButton">
              <i class="material-icons-outlined">close</i>
            </button>
        </form>
      </div>
      <div class="refreshDiv" fxLayoutAlign="center center">
        <button mat-icon-button>
          <i class="material-icons-outlined">refresh</i>
        </button>
      </div>
      <div class="viewListDiv" fxLayoutAlign="center center">
        <button mat-icon-button>
          <i class="material-icons-outlined">view_list</i>
        </button>
      </div>
      <div class="settingDiv" fxHide.xs fxLayoutAlign="center center">
        <button mat-icon-button>
          <i class="material-icons-outlined">settings</i>
        </button>
      </div>
    </div>

    <div class="accountDetail" fxLayoutAlign="center center">
      <img class="profilePicImage" src="../../../assets/profilePic.png" [matMenuTriggerFor]="menu" alt="profile Pic">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="fileInput.click()">
          <span>Add Profile Pic</span>
          <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
        </button>
        <button mat-menu-item (click)="doLogout()">LogOut</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>


<mat-sidenav-container class="sidenavContainer" >
  <mat-sidenav #snav class="sideNav" opened [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="true" [fixedTopGap]="65">
    <mat-nav-list>
      <a mat-list-item routerLink="notes" routerLinkActive="active">
        <i class="material-icons-outlined" matListIcons>emoji_objects</i>
        <span class="sideBarComponentAlignment">Notes</span>
      </a>
      <a mat-list-item routerLink="reminder" routerLinkActive="active">
        <i class="material-icons-outlined" matListIcons>notification_important</i>
        <span class="sideBarComponentAlignment">Reminder</span>
      </a>
      <mat-divider></mat-divider>
        <h3 mat-subheader>LABELS</h3>
        <a mat-list-item href="#" *ngFor="let label of labels">
          <i class="material-icons-outlined" matListIcons>label</i>
          <span class="sideBarComponentAlignment">{{label.name}}</span>
        </a>
      <a mat-list-item >
        <i class="material-icons-outlined" matListIcons>edit</i>
        <span class="sideBarComponentAlignment">Edit Label</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <i class="material-icons-outlined" matListIcons>archive</i>
        <span class="sideBarComponentAlignment">Archive</span>
      </a>
      <a mat-list-item>
        <i class="material-icons-outlined" matListIcons>delete</i>
        <span class="sideBarComponentAlignment">Trash</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>
