.headerToolbar {
    background-color: white;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .headerToolbar {
    position: fixed;
    z-index: 2;
}

.example-is-mobile .sidenavContainer {
    flex: 1 0 auto;
  }

.leftSideBoard {
    min-width: 232px;
    padding-right: 30px;
    height: 48px;
    overflow: hidden;
    color: rgba(0,0,0,.54);
}

.title {
    display: block;
    outline: none;
}

.notesImg {
    width: 40px;
    height: 40px;
}

.subTitleContent {
    display: inline-block;
    padding-left: 4px;
    line-height: 24px;
    vertical-align: middle;
    font-size: 22px;
    position: relative;
    color: #5f6368;
    word-wrap: break-word;
    opacity: 1;
}

.centerSideBoard {
    height: 48px;
    color: rgba(0,0,0,.54);
}

.searchDiv {
    padding-right: 30px;
    padding-left: 10px;
    width: 100%;
    align-content: center;
    justify-content: flex-start;
}

.searchForm {
    font-size: 12px;
    border-radius: 8px;
    background: #f1f3f4;
    border: 1px solid transparent;
    width: 100%;
    max-width: 720px;
    transition: background 100ms ease-in,width 100ms ease-out;
}

.searchButton, .closeButton {
    padding: 0px 8px;
    margin: 3px;
}

.refreshDiv, .settingDiv, .viewListDiv {
    width: 48px;
    height: 48px;
}

.searchInputField {
    font-size: 12px;
    width: 100%;
}

.accountDetail {
    padding: 0px 4px 0px 0px;
    padding-left: 30px;
    height: 48px;
    justify-content: flex-end;
}

.profilePicImage {
    width: inherit;
    height: inherit;
}

.sidenavContainer {
    flex: 1;
}

.sideBarComponentAlignment {
    padding-left: 32px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.material-icons-outlined {
    color: rgba(0,0,0,.54);
}

.mat-nav-list a {
    border-radius: 0px 25px 25px 0px;
}

.mat-nav-list a.active {
    background: #feefc3;
}

.childComponent {
    background-color: #fff;
}

.mat-dialog-container {
    padding: 0px;
}

.userImageDiv {
    width: 280px;
    height: 225px;
}

.userImage{
    width: 80px;
    height: 80px;
}

.divider {
    width: 100%;
}

.iconButton {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-size: cover;
}

.ProfilePic {
    background-size: cover;
}

.listView, .gridView {
    opacity: .54;
}

.LabelList {
    max-height: 280px;
    overflow-y: auto;
}

span.mat-button-wrapper {
    padding: 10px 0px;
}

.userInital {
    padding: 10px;
}

.logoutButton {
    margin: 16px;
}

.userName {
    color: #202124;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .29px;
    padding-top: 10px;
    text-align: center;
}

.userEmail {
    text-align: center;
    padding: 10px 0px;
    color: #5f6368;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.countUserSelected {
    color: #3c4043;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    margin-left: 12px;
    margin-right: auto;
}

.colorDiv {
    padding: 5px 7px 3px;
    width: 136px;
}

.singleColor {
    height: 26px;
    width: 26px;
    margin: 2px;
}

.colorButton {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

.selectedNoteActionDiv {
    margin-right: 12px;
    opacity: 1;
    display: flex;
}

@media only screen and (max-width: 780px) {

    .searchInputField, .closeButton {
        display: none;
    }

    .searchForm {
        background-color: #fff;
        width: 40px;
    }

    .searchDiv {
        padding: 0px;
        width: 40px;
    }

    .centerSideBoard {
        justify-content: flex-end;
    }

    .accountDetail {
        padding-left: 0px;
        width: 48px;
        height: 48px;
    }

}

@media only screen and (max-width: 600px) {

    .headerToolbar {
        padding: 0px 5px;
        height: 56px;
    }

    .leftSideBoard {
        padding-right: 14px;
        flex: 1 1 auto;
        min-width: unset;
    }

    .centerSideBoard {
        justify-content: flex-end;
    }

    .searchForm {
        background-color: #fff;
        width: 40px;
    }

    .searchDiv {
        padding: 0px;
        width: 40px;
    }

}