<div [style.background]="color" class="createNoteContainer">
  <div class="whenImageAdded" fxLayout="column">
    <div class="pinUnpinNote" *ngIf="!showTakeANoteAndAction" fxLayoutAlign="center center">
      <img class="pinUnpin" src="../../../assets/unpin.svg" title="Pin Note" (click)="userPinnedTheNote(true)"
       *ngIf="!isPinned">

      <img class="pinUnpin" src="../../../assets/pin.svg" title="Unpin Note" (click)="userPinnedTheNote(false)"
       *ngIf="isPinned" alt="Pin the Notes">

    </div>
    <div class="notesImageDiv" *ngIf="(image == '' || image == null) ? false : true">
      <img class="notesImage" [src]="image" alt="note Image">
    </div>
    <div class="createTitleDiv" fxLayout="row" [fxHide]="showTakeANoteAndAction" fxFlex>
      <textarea class="createTitle" [style.background]="color" cdkTextareaAutosize [(ngModel)]="createNoteTitle"
        cdkAutosizeMinRows="1" placeholder="Title"></textarea>
    </div>
    <div class="takeANoteDiv" fxLayout="row" fxLayoutAlign="center center">
      <textarea class="createDescription" [style.background]="color" (click)="NoteClick()"
        [(ngModel)]="createNoteDesciption" cdkTextareaAutosize cdkAutosizeMinRows="1"
        placeholder="Take a note..."></textarea>
      <div class="noteWithImages" *ngIf="hideNoteWithImagesDiv" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <i class="material-icons-outlined">assignment_turned_in</i>
        </button>
        <button mat-icon-button>
          <i class="material-icons-outlined">photo</i>
        </button>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxLayoutAlign="center center" *ngIf="(reminder == null || reminder == '') ? false : true">
        <mat-chip-list aria-label="Note Reminder">
          <mat-chip fxLayout="row" fxLayoutAlign="center center">
            {{ reminder | reminder }}
            <i class="material-icons-outlined labelcancel" title="Remove Reminder"
              (click)="removeReminderFromCreateNote()">cancel</i>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div fxLayoutAlign="center center" *ngIf="(labels == null || labels.length <= 0) ? false : true">
        <mat-chip-list aria-label="Note Label">
          <mat-chip fxLayout="row" *ngFor="let label of labels" fxLayoutAlign="center center">
            {{ label.name }}
            <i class="material-icons-outlined labelcancel" title="Remove Label"
              (click)="removeLabelForCreateNote(label.labelId)">cancel</i>
          </mat-chip>
        </mat-chip-list>
      </div>
    <div class="collaboratorListDiv" fxLayout="row" fxLayoutGap="5px"
      *ngIf="(collaboratorUserList == null || collaboratorUserList.length <= 0) ? false : true">
      <div class="collaborator" *ngFor="let userCollaborator of collaboratorUserList">
        <div class="collaboratorButton" fxLayoutAlign="center center">
          <button mat-fab class="createNoteCollab" [title]="userCollaborator.emailId"
            (click)="collaboratorClickedByUser()" fxLayoutAlign="center center"
            color="warn">{{ userCollaborator.firstName[0]+userCollaborator.lastName[0] }}</button>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="NoteActionContainer"  fxLayout="row" [fxHide]="showTakeANoteAndAction"
    fxLayoutAlign="space-between center">
    <app-noteicon [accessFrom]="noteIconAccessFrom" (UpdateColorInCreateNote)="updateColor($event)"
      (UpdateCollaboratorToCreateNote)="updateCollabToCreateNote($event)"
      (sendParentRefresh)="recieveDataFromIconChild($event)" (UpdateLabelsInCreateNote) = "updateLabelInCreateNote($event)"
      (UpdateArchiveInCreateNote)="updateArchiveInCreateNote($event)"
      (UpdateReminderInCreateNote)="updateReminderInCreateNote($event)" [labelDataFromCreateNote]="labels"
      (UpdateImageInCreateNote)="updateImageInCreateNote($event)" [grandParentNote]="collaboratorUserList"
      [grandParentIcon]="parentIcon"></app-noteicon>
    <div class="closeButton">
      <button mat-button type="button" (click)="closeButtonClick()">Close</button>
    </div>
  </div>
</div>