<div class="deleteContainer" *ngIf="(parentIcon == 'delete') ? true : false">
  <div class="deleteContent" fxLayoutAlign="center center">
    <div class="deleteText" fxLayoutAlign="center center">
      Notes in Trash are deleted after 7 days.
      <div class="emptyTrashDiv">
        <button mat-button type="button" (click)="bulkDelete()">Empty Trash</button>
      </div>
    </div>
  </div>
</div>


<div class="displayNoteContainer" [ngStyle]="{'width': (showListView) ? '632px' : '772px'}"
  *ngIf="(displayNotes.length <= 0) ? false : true">
  <div class="noteTitles" *ngIf="displayTitle">
    {{ displayTitleText }}
  </div>
  <br />
  <ngx-masonry fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column">
    <div ngxMasonryItem class="Notes" [ngStyle]="{'width': (showListView) ? '100%' : '31%'}"
      (mouseover)="mouseOnNote(note.noteId)" (mouseout)="mouseNotOnNote()" [style.background]="note.color"
      *ngFor="let note of displayNotes">
      <div class="selectNote"
        [ngStyle]="{'visibility': (note.noteId == mouseNote || checkSelectedNote(note)) ? 'visible' : 'hidden'}">
        <img class="selectNoteImg" (click)="UserSelectedThisNote(note)" src="../../../assets/Select note.svg"
          alt="select Note">
      </div>
      <div class="displayNote" [style.border]="(checkSelectedNote(note)) ? selectedNoteBorder : none">
        <div >

            <img class="notesImage" *ngIf="(note.image == null || note.image == '') ? false : true" [src]="note.image"
              alt="note Image" />

              <button class="deleteImage" *ngIf="(note.image == null || note.image == '' ? false : true) " mat-icon-button
              tabindex="-1">
              <i class="material-icons-outlined">delete</i>
            </button>

        </div>
        <div fxLayout="row">
          <div (click)="editNoteDialog(note)" class="titleDescription"
            *ngIf="(note.title == '' || note.title == null) ? false : true">
            {{ note.title }}
          </div>
          <div class="pinUpinTheImage" [ngStyle]="{'visibility': (note.noteId == mouseNote) ? 'visible' : 'hidden'}"
            fxLayoutAlign="center center" *ngIf="(parentIcon == 'delete') ? false : true">
            <img class="pinUnpin" *ngIf="!note.isPin" (click)="pinTheNote(note.noteId, true)"
              src="../../../assets/unpin.svg">

            <img class="pinUnpin" *ngIf="note.isPin" (click)="pinTheNote(note.noteId, false)"
              src="../../../assets/pin.svg">
          </div>
        </div>
        <div (click)="editNoteDialog(note)" class="NoteDescription"
          *ngIf="(note.description == '' || note.description == null) ? false : true ">
          {{ note.description }}
        </div>
        <div fxLayout="row wrap">
          <div fxLayoutAlign="center center" *ngIf="(note.reminder == null || note.reminder == '') ? false : true">
            <mat-chip-list aria-label="Note Reminder">
              <mat-chip fxLayout="row" fxLayoutAlign="center center">
                {{ note.reminder }}
                <i class="material-icons-outlined labelcancel"
                  (click)="removeLabelForNote(label.labelId, note.noteId)">cancel</i>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div fxLayoutAlign="center center" *ngIf="(note.labels == null || note.labels.length <= 0) ? false : true">
            <mat-chip-list aria-label="Note Label">
              <mat-chip fxLayout="row" *ngFor="let label of note.labels" fxLayoutAlign="center center">
                {{ label.name }}
                <i class="material-icons-outlined labelcancel"
                  (click)="removeLabelForNote(label.labelId, note.noteId)">cancel</i>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="collaboratorList" fxLayout="row wrap" fxLayoutGap="5px"
            *ngIf="(note.collaborators == null || note.collaborators.length <= 0) ? false : true">
            <div class="collaborator" *ngFor="let collaborator of note.collaborators">
              <div class="collaboratorButton" fxLayoutAlign="center center">
                <button mat-fab class="collaboratorUserIcon" [title]="collaborator.emailId"
                  fxLayoutAlign="center center"
                  color="warn">{{ collaborator.firstName[0]+collaborator.lastName[0] }}</button>
              </div>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'visibility': (note.noteId == mouseNote) ? 'visible' : 'hidden'}">
          <app-noteicon [accessFrom]="displayFromIcon" (UpdateNoteInDisplayNote)="UpdateNote($event)"
            (updateCollaboratorToDisplayNote)="updateCollabToNote($event)"
            (sendParentRefresh)="recieveDataFromIconChild($event)" [grandParentNote]="note"
            [grandParentIcon]="parentIcon" (updatePinNoteInNotes)="sendDatatoPinNotes($event)"
            (updateOtherNoteInNotes)="sendDataToOtherNotes($event)">
          </app-noteicon>
        </div>
      </div>
    </div>
  </ngx-masonry>
</div>

<div class="noNotePresent" *ngIf="(displayNotes.length <= 0 ) ? true : false" fxLayout="column"
  fxLayoutAlign="center center">
  <div class="showIcon">
    <i class="material-icons-outlined increaseSize">{{ parentIcon }}</i>
  </div>
  <div class="showText">
    {{ emptyContentText }}
  </div>
</div>