<div class="displayNoteContainer" *ngIf="(displayNotes.length <= 0) ? false : true" fxLayout="row" fxLayout.xs="column"
  fxLayoutGap="15px">
  <div class="displayNote" *ngFor="let note of displayNotes">
    <div class="pinUpinTheImage" fxLayoutAlign="center center">
      <!-- <img style="height: 32px; width: 32px;" src="../../../assets/pin-outline.png" alt="Pin Image"> -->
      <i class="material-icons-outlined">color_lens</i>
    </div>
    <div class="titleDescription">
      {{ note.title }}
    </div>
    <div class="NoteDescription" *ngIf="(note.description == '') ? false : true ">
      {{ note.description }}
    </div>
    <div class="collaboratorList" *ngIf="(note.collaborators == null || note.collaborators.length <= 0) ? false : true">
      <div class="collaborator" *ngFor="let collaborator of note.collaborators">
        {{ collaborator.firstName }}
      </div>
    </div>
    <div class="noteActionDiv">
      <div class="noteActionToobar">
        <div class="iconActionDiv" fxLayoutAlign="center center">
          <button mat-icon-button title="Remind Me">
            <i class="material-icons-outlined">notification_important</i>
          </button>
        </div>
        <div class="iconActionDiv" fxLayoutAlign="center center">
          <button mat-icon-button title="Collaborator">
            <i class="material-icons-outlined">person_add</i>
          </button>
        </div>
        <div class="iconActionDiv" fxLayoutAlign="center center">
          <button mat-icon-button title="Change Color">
            <i class="material-icons-outlined">color_lens</i>
          </button>
        </div>
        <div class="iconActionDiv" fxLayoutAlign="center center">
          <button mat-icon-button>
            <i class="material-icons-outlined">image</i>
          </button>
        </div>
        <div class="iconActionDiv" fxLayoutAlign="center center">
          <button mat-icon-button>
            <i class="material-icons-outlined">archive</i>
          </button>
        </div>
        <div class="iconActionDiv" fxLayoutAlign="center center">
          <button mat-icon-button>
            <i class="material-icons-outlined">more_vert</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="noNotePresent" *ngIf="(displayNotes.length <= 0 ) ? true : false" fxLayout="column" fxLayoutAlign="center center">
  <div class="showIcon">
    <i class="material-icons-outlined increaseSize">{{ parentIcon }}</i>
  </div>
  <div class="showText">
    {{ emptyContentText }}
  </div>
</div>