.deleteContainer{
    width: 100%;
}

.deleteContent {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.deleteText {
    color: #202124;
    cursor: default;
    display: flex;
    font-size: 17px;
    font-style: italic;
    padding-top: 24px;
    padding-bottom: 8px;
}

.emptyTrashDiv {
    color: #1a73e8;
    margin-left: 16px;
    font-style: normal;
}

.displayNoteContainer {

    margin: auto;
    width: 772px;
    flex-wrap: wrap;
}

.displayNote {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 240px;
    border: 1px solid;
    border-color: #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    transition-duration: .218s;
    transition-property: background,border,opacity,box-shadow,transform;
    transition-timing-function: ease-in;

    .titleDescription {
        letter-spacing: .00625em;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        min-height: 38px;
        padding: 12px 16px 0 16px;
        box-sizing: border-box;
        outline: none;
        word-wrap: break-word;
    }

    .pinUpinTheImage{
        width: 42px;
        height: 36px;
        float: right;
        opacity: 0.71;
        visibility: hidden;
    }

    .pinUnpin {
        cursor: pointer;
    }
    
    .NoteDescription {
        min-height: 30px;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding: 4px 16px 12px 16px;
        box-sizing: border-box;
    }
    
    .collaboratorList {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 10px;
    }

    .collaboratorUserIcon {
        height: 30px;
        width: 30px;
        outline: none;
        border: 2px solid #fff;
    }
    
    .noteActionDiv {
        align-items: center;
        color: rgba(0,0,0,.54);
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        font-size: 12px;
        line-height: 26px;
        margin: 4px 0;
        height: 34px;
        transition: background-color .218s ease-in-out,box-shadow .218s ease-in-out;
    }
    
    .noteActionToobar {
        flex: 1 0 auto;
        box-sizing: border-box;
        font-size: 12px;
        bottom: 0;
        display: flex;
        height: 34px;
        transition-duration: .218s;
        transition-property: opacity;
        transition-timing-function: ease-in;
    }
    
    .iconActionDiv{
        margin: 0 3px;
        width: 34px;
        height: 34px;
        display: inline-block;
        outline: none;
    }
}

::ng-deep {
    .mat-fab .mat-button-wrapper {
        padding: 3px;
    }
}

.displayNote:hover{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),
        0 1px 3px 1px rgba(60,64,67,0.149);
}

.displayNote:hover .hideIcon {
    visibility: visible;
}

.displayNote:hover .pinUpinTheImage {
    visibility: visible;
}

.hideIcon {
    visibility: hidden;
}

.noNotePresent {
    margin-top: 10vh;
}

.showIcon {
    background-size: 120px 120px;
    height: 120px;
    margin: 20px;
    width: 120px;
    opacity: .1;
    cursor: default;
}

.increaseSize {
    font-size: 120px;
}

.showText {
    color: #80868b;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    cursor: default;
}

.notesImageDiv {
    display: inline-block;
}

.notesImage {
    width: 100%;
    height: inherit;
}


@media only screen and (max-width: 835px) {

    .displayNoteContainer {
        width: 525px;
    }

}

@media only screen and (max-width: 600px) {

    .displayNoteContainer {
        width: 90%;
        margin: 16px 16px 8px 16px !important;
    }

    .displayNote {
        width: 100%;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

}