<div class="resetPasswordContainer" fxLayoutAlign="center center">
    <div class="resetPasswordCard">
        <div class="domainName">
            <span class="F_Class">F</span>
            <span class="U_Class">u</span>
            <span class="N_Class">n</span>
            <span class="D_Class">d</span>
            <span class="O_Class">o</span>
            <span class="O2_Class">o</span>
        </div>
        <h1 id="headingText">
            <span>Account recovery</span>
        </h1>
        <div class="resetPasswordContent">
            <div class="resetPasswordContentSubText">
                Enter new password to reset your account.
            </div>
        </div>
        <div class="resetPasswordInputField">
            <form [formGroup]="resetPasswordInformation" (ngSubmit)="resetPassword(resetPasswordInformation.value)" onvalidate>
                <div>
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Enter new password</mat-label>
                        <input matInput placeholder="Enter new password" [type]="newPasswordShow ? 'password' : 'text'" formControlName="newPassword" required>
                        <button mat-icon-button matSuffix (click)="newPasswordShow = !newPasswordShow" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                        <mat-icon>{{newPasswordShow ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('newPassword', 'required')">
                            <i class="material-icons ">error</i>
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="hasError('newPassword', 'minlength')">
                            <i class="material-icons ">error</i>
                            Password Should Have a minimum length of 5
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Enter confirm password</mat-label>
                        <input matInput placeholder="Enter confirm password" [type]="confirmPasswordShow ? 'password' : 'text'" formControlName="confirmPassword" required>
                        <button mat-icon-button matSuffix (click)="confirmPasswordShow = !confirmPasswordShow" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                        <mat-icon>{{confirmPasswordShow ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('confirmPassword', 'required')">
                            <i class="material-icons ">error</i>
                            confirm password is required
                        </mat-error>
                        <mat-error *ngIf="hasError('confirmPassword', 'minlength')">
                            <i class="material-icons ">error</i>
                            Password Should Have a minimum length of 5
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="resetPasswordButton" fxLayoutAlign="center center">
                    <button mat-flat-button type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>