.deleteContainer {
    padding: 24px;
}

.deleteText{
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
    padding-bottom: 24px;
    word-wrap: break-word;
}

.deleteActionDiv {
    text-align: right;
}

.cancelButton {
    margin-right: 16px;
}

.deleteButton {
    color: #1a73e8;
}